.shaded, button{
    border-style: solid;
    border-color: rgb(183, 183, 183) rgb(54, 54, 54) rgb(54, 54, 54) rgb(183, 183, 183);
}

.rounded {
    border-radius: 10px; 
}

.rounded-right {
    border-radius: 0px 10px 10px 0px; 
}

.rounded-left {
    border-radius: 10px 0px 0px 10px; 
}

button {
    height: 4ex;
    cursor: pointer;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Display ellipsis (...) for truncated text */
}

.fullheight {
    height: 100%;
    box-sizing: border-box;
}

.card {
    border-style: solid ;
}

.card * {
    margin-left: 2ex;
}

.mb {
    margin-bottom: 1ex;
}

textarea {
    resize: none;
}