.a-button {
    color: black;
    padding: 1ex;
    border: solid black thin;
    border-radius: 3px;
    
}

button {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Display ellipsis (...) for truncated text */
}

div .fullheight {
    height: 100%;
    box-sizing: border-box;
}

.card {
    border: solid black thin;
    border-radius: 10px;
    
}

.card * {
    margin-left: 2ex;
}

.mb {
    margin-bottom: 1ex;
}

textarea {
    resize: none;
}