<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename= 'javascript/endpoint.js') }}"></script>
    <script src="{{ url_for('static', filename= 'javascript/create.js') }}"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Record creation</title>
</head>

<body>
    <h1>Create new record</h1>
    <!-- <div>
        <input type="checkbox" role="switch" id="flexSwitchCheckChecked" checked="">
    </div> -->

    <form>
        <div class="mb" style="display: grid;">
            <label style="font-size: larger;" for="title_textarea">Title</label>
            <textarea id="title_textarea" rows="1"></textarea>
        </div>
        <div class="mb" style="display: grid;">
            <label style="font-size: larger;" for="body_textarea">Body</label>
            <textarea id="body_textarea" rows="3"></textarea>
        </div>
        <div>
            <button id="submit" type="button" class="primary">Submit</button>
            <button id="back" type="button" onclick="window.location = '/'" class="primary">&lt; Back to records</button>
        </div>
    </form>

</body>

</html>