<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	<title>Records</title>
</head>

<body>
	<table>
		<tr>
			<td>some text</td>
			<td><input type="text" style="width:100%" /></td>
			<td><button value="click me"></td>
		</tr>
	</table>
	  
	<div style="display: inline;">
		<button id="new" type="button" class="primary mb" onclick="window.location = '/create'">+ Add new record</button>
		<textarea id="search" rows="1" style="width: 100%;"></textarea>
	</div>

	<div>
		{% for item in items %}
		<div class="card mb">
			<h2 style="margin-left: 0;"><a href="/records/{{ item['_id'] }}">{{ item['title'] }}</a></h5>
			<p>
				{{ item['body'] }}
			</p>
		</div>
		{% endfor %}
	</div>

	<!-- <script href="{{ url_for('static', filename= 'javascript/create.js') }}"></script> -->
</body>

</html>